version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: ecommerce_postgres_dev
    restart: unless-stopped
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce_dev
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ecommerce_dev"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network-dev

volumes:
  postgres_data_dev:
    driver: local

networks:
  app-network-dev:
    driver: bridge
